<div>
	<h1>{{message}}</h1>
	<table class="table">
		<!-- hide elements -->
		<thead ng-hide="hideInfo">
			<tr>
				<th>ID</th>
				<th>Email</th>
				<th>Forename</th>
				<th>Surname</th>
				<th>Created</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<!-- show elements -->
		<thead ng-show="hideInfo">
			<tr>
				<th></th>
				<th>Email</th>
				<th>Forename</th>
				<th>Surname</th>
				<th>Created</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		
		<tbody>				
			<tr>
				<td></td>
				<td><input class="form-control" ng-model="user.email" name="email" placeholder="Enter a email address"></td>
				<td><input class="form-control" ng-model="user.forename" name="forename" placeholder="Enter a forename"></td>
				<td><input class="form-control" ng-model="user.surname" name="surname" placeholder="Enter a surname"></td>
				<td ng-show="hideInfo"></td>
				<td></td>
				<td><button class="btn btn-primary" ng-click="add()"> Add </button></td>
				<td ng-hide="hideInfo"><button class="btn btn-warning" ng-model="hideInfo" ng-click="edit(hideInfo)">Edit User</button></td>						
			</tr>					
			<tr ng-repeat="user in userlist"> 
				<!-- hide elements -->
				<!-- link to a specific user -->
				<td ng-hide="hideInfo">
					<a href="#user/{{user.user_id}}">
						{{user.id}}
					</a>
				</td>
				<td ng-hide="hideInfo"> {{user.email}} </td> 
				<td ng-hide="hideInfo"> {{user.forename}} </td>  
				<td ng-hide="hideInfo"> {{user.surname}} </td>
				<td ng-hide="hideInfo"> {{user.created | date : "y-MM-dd, HH:mm:ss"}} </td>

				<!-- show elements -->
				<td ng-show="hideInfo"></td>
				
				<td ng-show="hideInfo"> <input class="form-control" ng-model="user.email" name="email" {{user.email}} ></td>
				<td ng-show="hideInfo"> <input class="form-control" ng-model="user.forename" name="forename" {{user.forename}} > </a> </td>  
				<td ng-show="hideInfo"> <input class="form-control" ng-model="user.surname" name="surname" {{user.surname}} ></td>
				<!--<td ng-show="hideInfo"> <input class="form-control" ng-model="user.created" name="created" {{user.created}} ></td> -->
				<td ng-show="hideInfo"></td>
				<td ng-show="hideInfo"><button class="btn btn-danger" ng-click="remove(user)">Delete</button></td>
				<td ng-show="hideInfo"><button class="btn btn-info" ng-click="update(user)">Update</button></td>
			</tr>
		</tbody>
	</table>
	
</div>
