<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Park IT</title>
        <meta charset="utf-8" />
		<!-- style sheets -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">    
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<!-- app specific stylesheet --> 
		<link rel="stylesheet" href="css/style.css"> 
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

	   <script src="https://code.angularjs.org/1.5.0/angular.js"></script>
        <script src="https://code.angularjs.org/1.5.0/angular-route.js"></script>
		
		<!-- module -->
        <script src="js/client.js"></script> 

		<!-- controllers -->
		<script src="js/assets/user/userController.js"></script> 
		<script src="js/assets/contact/contactController.js"></script> 		
			
    </head>

    <body>
        <div>
            <div>
                    <div class="container" ng-controller="indexController">
						<div ng-include="navbar"></div>
						
                        <span ng-cloak>{{message}}</span>
						<a href="/index.html">
							<img class="logo" src="images/logo/parkIT.png">
						</a>

                    </div>
            </div>


            <div class="container">

                    <h3 ng-show="hideInfo">Partials</h3>
                    <div ng-view></div>

            </div>

        </div>

    </body>

</html>