<header> 
		<nav class="navbar navbar-default">
			<div class="container-fluid">				
                    <ul>
                        <li><a href="index.html" class="btn btn-default navbar-btn">Home</a></li>
                        <li><a href="#/user" class="btn btn-default navbar-btn">User</a></li>
						<li><a href="#/contact" class="btn btn-default navbar-btn">Contact</a></li>
                    </ul>
				</div>
			</div>
		</nav>
</header>